:root {
  /* Color */
  --primary-color-dark: hsl(158, 36%, 37%);
  --primary-color-light: hsl(30, 38%, 92%);
  --neutral-color-very-dark: hsl(212, 21%, 14%);
  --neutral-color-dark: hsl(228, 12%, 48%);
  --neutral-color-light: hsl(0, 0%, 100%);

  /* Fonts */
  --primary-font: "Montserrat", sans-serif;
  --secondary-font: "Fraunces", serif;

  /*  Buttons*/
  --button: var(--primary-color-dark);
  --button-hover: hsl(158, 36%, 17%);

  /* Size */
  --base-size: 14px;
  --scale: 1.25;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary-color-light);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--base-size);
  flex-flow: column nowrap;
}

.card {
  width: 625px;
  border-radius: 15px;
  background: var(--neutral-color-light);
  display: flex;
  flex-flow: row nowrap;
  animation: fade 0.5s ease backwards;
}

.card_img {
  max-width: 50%;
  height: auto;
  border-radius: 15px 0px 0px 15px;
}
.mobile {
  display: none;
}

.card_info {
  flex: 1;
  padding: 37px 31px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card_info h2 {
  font-family: var(--primary-font);
  font-size: 1rem;
  font-weight: 500;

  color: var(--neutral-color-dark);
  letter-spacing: 3.57px;
}

.card_info h1 {
  font-family: var(--secondary-font);
  font-size: 2rem;
  font-weight: 700;
  color: var(--neutral-color-very-dark);
}

.card_info > p {
  font-family: var(--primary-font);
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.5rem;
  width: 100%;
  color: var(--neutral-color-dark);
}

.card_info .price {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.card_info .main_price {
  color: var(--primary-color-dark);
  font-family: var(--secondary-font);
  font-size: 2.3rem;
}

.card_info .price .old_price {
  text-decoration-line: line-through;
  color: var(--neutral-color-very-dark);
  font-family: var(--primary-font);
}

.buy_button {
  display: flex;
  padding: 10px 60px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  align-self: stretch;
  border-radius: 10px;
  background: var(--button);
  border: none;
  cursor: pointer;
}
.buy_button:hover,
.buy_button:focus {
  background: var(--button-hover);
}

.buy_button p {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  color: var(--neutral-color-light);
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 14px;
}

@media (max-width: 625px) {
  body {
    height: auto;
  }
  .card {
    margin: 25px 25px;
    flex-direction: column;
  }
  .card_img {
    max-width: 100%;
    border-radius: 15px 15px 0px 0px;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .card_info {
    padding: 25px 15px;
  }
  .brecks {
    display: none;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
  font-size: 0.7rem;
  font-family: var(--primary-font);
}
.attribution a {
  color: var(--primary-color-dark);
  text-decoration: none;
}
.attribution a:hover {
  color: var(--button-hover);
}
